@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
    transition: 0.3s;
}

.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.task.reminder {
    border-left: 5px solid green;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}